.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: 300px;
  background: var(--inverted-bg-color);

  position: relative;
  transition: width .3s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.lang {
  margin-left: 28px;
}

.links {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mainLink {
  margin-bottom: 10px;
}

.toggle {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  right: -30px;
  bottom: 100px;
  background: var(--inverted-bg-color);
  transform: rotate(90deg);
}

.leftArrow,
.rightArrow {
  height: 13px;
  width: 13px;
}

.leftArrow {
  transform: rotate(-180deg);
}