.app_light_theme {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #090949;
  --primary-color: #0232c2;
  --secondary-color: #0450fa;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;

  // Skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // Code
  --code-bg: #fff;
}